.about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9rem;
    align-items: center;
    padding: 5rem 8%;
}

.about_label{
    font-size: 0.75rem;
    letter-spacing: 2px;
    color: #978667;
    font-weight: 600;
}
.about_title{
    font-size: 2.5rem;
    line-height: 1.3;
    margin: 1rem 0;
    color: #333333;
}

.about_subtitle{
    color: #666;
    margin-bottom: 1.5rem;
}

.about_text{
    color: #777;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.about_sign{
    font-family: "Caveat", cursive;
    font-size: 1.2rem;
}

.about_images{
    position: relative;
}

.image{
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
}
.image-main{
    height: 450px;
}
.image_overlay{
    position: absolute;
    width: 65%;
    top: 20%;
    left: -20%;
    border: 5px solid white;   
}


@media (max-width:768px){
    .about{
        grid-template-columns: 1fr;
    }
    .image-overlay{
        position: static;
        width: 100%;
        margin-top: 1rem;
    }
}