.contact-wrapper{
    display: flex;
    gap: 40px;
    background: #FAF8F5;
    padding: 50px;
}

.contact-left{
    width: 35%;
}

.tag{
    letter-spacing: 2px;
    font-size: 12px;
    color: #978667;
}

.contact-left h2{
    font-size: 42px;
    margin: 10px 0;
    color: #333333;
}

.info{
    margin-top: 20px;
}


.contact-right{
    width: 65%;
    background-color: #e7e2da;
    padding: 30px;
    border-radius: 12px;
}

.tabs{
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.tabs button{
    border: none;
    padding: 10px;
    background-color: none;
    font-size: 16px;
    cursor: pointer;
    padding-bottom: 6px;
}

.tabs .active{
    border-bottom: 2px solid #000;
}

.contact-form input, 
.contact-form textarea,
.contact-form select{
    width: 80%;
    padding: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.conact-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    margin-bottom: 15px;
}

.contact-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    padding: 12px 30px;
    border-radius: 30px;
    border: 2px solid #000;
    background: none;
    cursor: pointer;
}

.calender{
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    margin-bottom: 20px;
    text-align: center;
}

.counter{
    background: #fff;
    padding: 14px;
    border-radius: 8px;
    text-align: center;
}