.header{
    height: 70px;
    width: 100%;
    /* background-color: white; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background 0.4s ease;
    padding: 8px 0px;
}
.header.scrolled{
    background-color: white;
}

.black_logo{
    height: 50px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.menu-black{
    color: black;
}
.menu-white{
    color: white;
}
.menu>button{
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background-color: #978667;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    &:hover{

        background-color: #4b514d;
    }
}

.humburger{
    display: none;
    font-size: 40px;
    cursor: pointer;
    transition: color .4s ease;
}
.humburger.black i{
    color: black;
}
.humburger.white i{
    color: white;
}

.menu{
    display: block;
}

.mobile-menu{
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    width: 200px;
    height: 100%;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
    /* border-radius: 8px; */
}
.mobile-menu ul{
    list-style: none;
    padding: 15px;
}

.mobile-menu ul li {
    padding: 10px 0;
    cursor: pointer;
    color: black;
}


@media(max-width:768px){
    .menu{
        display: none;
    }
    .humburger{
        display: block;
    }
}