.header{
    height: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    gap: 30%;
}

.black_logo{
    height: 50px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    list-style: none;
    display: flex;
    gap: 20px;
    margin-right: 30px;
}

.menu>button{
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    background-color: #978667;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition-behavior: normal;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;

    &:hover{

        background-color: #4b514d;
    }
}