.hero{
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
.video-wrapper{
    position: absolute;
    inset: 0;
}
.video-wrapper video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}
.hero::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.45);
}
.hero-content{
    position: relative;
    z-index: 2;
    color: white;
    height: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hero-content h1{
    font-size: 3rem;
    text-transform:uppercase;
    font-weight: bolder;
}

.hero-content p{
    font-size: 1.2rem;
    text-transform:uppercase;
    color: #b18f51;
    font-weight: 600;
}