.map-container{
    margin: 0;
    padding: 0;
    height: 60vh;
    width: 99.99%;
}

.map-container iframe {
    width: 100%;
    height: 100%;
}


#footer{
    background-color: #1F2127;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: white;
}