.slide-wrapper  {
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
.room-slider{
    display: flex;
    gap: 20px;
    overflow-x:auto ;
    scroll-behavior: smooth;
}
.room-slider::-webkit-scrollbar{
    display: none;
}

.card{
    min-width: 350px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #000;
}
.image-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.image-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease ;
}
.card:hover img{
    transform: scale(1.1);
}
.card-content{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}
.card-content span{
    font-size: 14px;
    opacity: 0.9;
}
.card-content h3{
    margin-top: 5px;
    font-size: 22px;
}

.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 22px;
    padding: 10px 14px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px;
}