.testimonial-section{
    height: 100vh;
    background-image: url('/public/Images/parallax_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-overlay{
    background: rgba(0,0,0,0.5);
    padding: 60px;
    border-radius: 12px;
    color: white;
    text-align: center;
}
.testimonial-card{
    background-color: #1f2430;
    padding: 30px;
    border-radius: 16px;
    margin-top: 30px;
}